<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', chapter.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="meetupUrl" class="control-label">meetupUrl</label>
  <div class="controls">
    -url
  </div>
</div>
<div class="control-group">
  <label for="meetupId" class="control-label">meetupId</label>
  <div class="controls">
    -id
  </div>
</div>
<div class="control-group">
  <label for="leaders" class="control-label">leaders</label>
  <div class="controls">
    <%- contentTag('input', chapter.leaders, {type:'text', class:'span6', name:'leaders'}) %>
  </div>
</div>
<div class="control-group">
  <label for="instructors" class="control-label">instructors</label>
  <div class="controls">
    <%- contentTag('input', chapter.instructors, {type:'text', class:'span6', name:'instructors'}) %>
  </div>
</div>
<div class="control-group">
  <label for="volunteers" class="control-label">volunteers</label>
  <div class="controls">
    <%- contentTag('input', chapter.volunteers, {type:'text', class:'span6', name:'volunteers'}) %>
  </div>
</div>
<div class="control-group">
  <label for="sponsors" class="control-label">sponsors</label>
  <div class="controls">
    <%- contentTag('input', chapter.sponsors, {type:'text', class:'span6', name:'sponsors'}) %>
  </div>
</div>
<div class="control-group">
  <label for="announcements" class="control-label">announcements</label>
  <div class="controls">
    <%- contentTag('input', chapter.announcements, {type:'text', class:'span6', name:'announcements'}) %>
  </div>
</div>
<div class="control-group">
  <label for="twitter" class="control-label">twitter</label>
  <div class="controls">
    <%- contentTag('input', chapter.twitter, {type:'text', class:'span6', name:'twitter'}) %>
  </div>
</div>
<div class="control-group">
  <label for="facebook" class="control-label">facebook</label>
  <div class="controls">
    <%- contentTag('input', chapter.facebook, {type:'text', class:'span6', name:'facebook'}) %>
  </div>
</div>
<div class="control-group">
  <label for="email" class="control-label">email</label>
  <div class="controls">
    <%- contentTag('input', chapter.email, {type:'text', class:'span6', name:'email'}) %>
  </div>
</div>
